.home-container {
    background-color: #F4F4F7;
}

.banner img {
    width: 1240px;
    height: 500px;
    position: relative;
}

.banner p {
    position: absolute;
    top: 50%;
    left: 30%;
    color: white;
    font-size: 40px;
}

.about-title {
    margin-top: 100px;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 20px 50px 100px;
}

.about-div {
    background-color: white;
}

.about-icons {
    font-size: 40px;
    color: #3ca1db;
}

.btn-primary {
    background-color: #3ca1db !important;
    border: none !important;
}

@media only screen and (max-width: 768px) {
    .about-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner p {
        display: none;
    }
}